</script>


<div class="mobile-corpo">
    <header class="menu-principal animate__animated animate__fadeIn">
        <!-- animate__animated animate__slideInLeft  -->
        <nav class="dp-menu">
            <ul class="menu-h">
                <li class="texto-menu-opcoes">
                    <a href="index.html"> <i class="fas fa-home active"></i></i>
                        <p></p>Início</a>
                </li>
                <li class="texto-menu-opcoes"> <a href="/teses/index.html"><i class=" fas fa-users "></i><p></p>Quem Somos</a>
                    <ul>
                        <li class="menu-h"><a href="teses/2022.html">Apresentação NGEAALC</a></li>
                        <li class="menu-h"><a href="teses/2021.html">Membros</a></li>
                        <li class="menu-h"><a href="teses/2021.html">Regimento</a></li>
                    </ul>
                </li>
                <li class="texto-menu-opcoes"> <a href="palestras.html"><i class="fas fa-book"></i><p></p>Producoes</a> </li>
                <li class="texto-menu-opcoes"> <a href="palestras.html"><i class="fas fa-chalkboard-teacher"></i><p></p>A Definir</a> </li>
                <li class="texto-menu-opcoes"> <a href="colaboradores/index.html"><i class="fas fa-users"></i> &nbsp; <i class="fab fa-font-awesome-flag"></i> <p></p>Colaboradores <p></p>Internacionais</a>
                </li>
                <li class="texto-menu-opcoes"> <a href="#"><i class="fas fa-newspaper"></i><p></p>AFRICANIAS.COM</a> </li>
                <li class="texto-menu-opcoes"> <a href="faleconosco.html"><i class="fas fa-mail-bulk"></i><p></p>Fale Conosco</a> </li>
            </ul>
        </nav>
    </header>
</div>



<div class="centralizar-texto-corpo">
    <label class="animate__animated animate__fadeInLeft titulo-principal">APRESENTAÇÃO</label>

    <h1 class="animate__animated animate__fadeInLeft texto-titulo"> Quem somos? </h1>

    <h2 class="animate__animated animate__fadeInLeft texto-corpo"> Citação é, portanto, a menção no texto de informação extraída de outros documentos,
        <br> com o objetivo de colocar o trabalho no contexto da temática, conferir a ele credibilidade,
        <br> confrontar dados, fatos e argumentos, e registrar opiniões similares ou conclusões opostas.</h2>

    <h1 class="animate__animated animate__fadeInLeft texto-titulo"> Qual o nosso objetivo? </h1>

    <h2 class="animate__animated animate__fadeInLeft texto-corpo"> Citação é, portanto, a menção no texto de informação extraída de outros documentos,
        <br> com o objetivo de colocar o trabalho no contexto da temática, conferir a ele credibilidade,
        <br> confrontar dados, fatos e argumentos, e registrar opiniões similares ou conclusões opostas.</h2>

    <h1 class="animate__animated animate__fadeInLeft texto-titulo"> Qual o nosso objetivo? </h1>

    <h2 class="animate__animated animate__fadeInLeft texto-corpo"> Citação é, portanto, a menção no texto de informação extraída de outros documentos,
        <br> com o objetivo de colocar o trabalho no contexto da temática, conferir a ele credibilidade,
        <br> confrontar dados, fatos e argumentos, e registrar opiniões similares ou conclusões opostas.</h2>

    <label class="animate__animated animate__fadeInLeft titulo-principal">FUNDADORES</label>

    <h2 class="animate__animated animate__fadeInLeft texto-corpo"> Citação é, portanto, a menção no texto de informação extraída de outros documentos,
        <br> com o objetivo de colocar o trabalho no contexto da temática, conferir a ele credibilidade,
        <br> confrontar dados, fatos e argumentos, e registrar opiniões similares ou conclusões opostas.</h2>

    <!--                                <h1 class="animate__animated animate__fadeInLeft texto-titulo">VEJA TAMBEM</h1>                                           -->

    <label class="animate__animated animate__fadeInLeft titulo-principal">VEJA TAMBEM</label>
    <a id="menu-video-youtube">
        <iframe id="video-youtube" class="animate__animated animate__fadeIn" width="560" height="315" src="https://www.youtube.com/embed/SQJOa1sjpUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </a>

</div>


<!--                                PARTE DO YOUTUBE E AFINS                                           -->
<!-- 
    <a id="menu-video-youtube">

        <button id="botao-video-youtube"> < </button>

        <iframe id="video-youtube" class="animate__animated animate__fadeIn" width="560" height="315" src="https://www.youtube.com/embed/SQJOa1sjpUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        <button id="botao-video-youtube"> > </button>

    </a>


    <div id="menu-carrosel">

        <div class="itens">
            <button id="botao-video-youtube"> < </button>
            <div class="item"> <iframe id="video-youtube" class="animate__animated animate__fadeIn" width="560" height="315" src="https://www.youtube.com/embed/SQJOa1sjpUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></div>

            <button id="botao-video-youtube"> > </button>
        </div>
    </div> -->
<!--                                    IR PARA O TOPO                                             -->

</body>

<!--                                                  BOTÃO DO VOLTE AO TOPO                                                                -->

<div class="rodape-cor">
    <footer class="menu-r-topo">
        <a class="texto-rodape-topo" href="#topo" target="_blank"> <i class="fas fa-caret-up icone-topo"></i> Volte ao Topo </a>
    </footer>

    <!--                                                  ICONES DO RODAPE                                                                -->

    <div class="rodape-cor">
        <footer class="menu-r">
            <a href="https://www.facebook.com/proreitoriadeextensao.uneb/?hc_ref=ARTVtgjhaHuvL793gDjVyW5eQWORQu11HvixEdUedCU_IbsdpsHBprYJ6g_8VZNp0c8&fref=nf&__xts__[0]=68.ARBe5w9C7bYVyZQbbdHe08VfL2mr8CXvmMmF8POuNUJoHwbUXQumkG2CakFb9ZVY8otbzt_uayL6wjVWbeza_n8G9Oe5FXHeelljGFJjSoy98sJ8e4mSNlXb0S0Y5HgutVuD432ge_Y79iJb6lIcji_9KyoLszkxMbGy5v2wqrG6i00iEZpONv96m_56yZryJ4wcD3lLRPCpHJeh7mvoEnUm3g8w9gLbugZe70JdlqT2sIeEI49tZ1KffWIP2WP6_aPbREXHeG-U3Wcn2SPB8cZhtEui4sT-K8bIRf2gLX2HPtUCU9qOwRU "
                target="_blank"> <i class="fab fa-facebook redes-sociais"></i> </a>

            <a href="https://www.instagram.com/NGEAALC.uneb/ " target="_blank"> <i class="fab fa-instagram redes-sociais"></i> </a>

            <a href=" " target="_blank"> <i class="fab fa-youtube redes-sociais"></i> </a>

            <a href=" " target="_blank"> <i class="fab fa-twitter redes-sociais"></i> </a>

            <a href=" " target="_blank"> <i class="fab fa-flickr redes-sociais"></i> </a>

            <a href="mailto:@africanias.uneb.br " target="_blank "> <i class="far fa-envelope contato "></i> </a>

        </footer>

        <!--                                                  TEXTO DO RODAPE                                                               -->

        <footer class="menu-r-texto ">
            <div class="apagar-texto-rodape ">
                <label class="texto-rodape-redes-sociais"><strong>Redes Sociais</strong></label>

                <label class="texto-rodape-contato"><strong>Fale Conosco</strong></label>
            </div>
        </footer>

        <!--                                            TEXTO ABAIXO DO RODAPE                                                              -->

        <div class="texto-rodape ">
            <label class="texto-rodape-esquerda "><strong> Desenvolvido por <a class=" " href=" "> Tatakae </a></strong></label>
            <label class="texto-rodape-direita "><strong> Universidade do Estado da Bahia - © Todos os Direitos Reservados</strong></label>
        </div>
    </div>

    </html>